// Default workflow parameters

profiles {
    cluster {
        executor {
            name = 'sge'
            queueSize = 400
        }
        process.penv = 'smp'
        process.memory = '2G'
        process.cpus = '1'
        process.time = '12h'
        process.clusterOptions = { "-l h_vmem=${task.memory.toMega()/task.cpus}M -V -P simpsonlab -l h_stack=32M -m beas -M jbroadbent@oicr.on.ca" }
    }
}

process {
    conda = '/.mounts/labs/simpsonlab/sw/miniconda3/envs/cfdna'

    withLabel: GPU {
        clusterOptions = { "-l gpu=2 -l h_vmem=${task.memory.toMega()/task.cpus}M -V -P simpsonlab -l h_stack=32M -m beas -M jbroadbent@oicr.on.ca" }
    }
    withLabel: parallel  {
        clusterOptions = { "-pe smp 8 -l h_vmem=${task.memory.toMega()/8}M -V -P simpsonlab -l h_stack=32M -m beas -M jbroadbent@oicr.on.ca" }
    }
}

env.HDF5_PLUGIN_PATH="/.mounts/labs/simpsonlab/users/jsimpson/code/cfdna_pipeline/etc/"

params {
	threads = 1
	/*guppy_model = "res_dna_r9.4.1_e8.1_hac_v033.cfg" # Model for cfDNA Reriomodels*/
    nanomix = "/.mounts/labs/simpsonlab/users/jbroadbent/code/cfdna/nf_dev/scripts/nanomix.py"
    guppy_model = "dna_r9.4.1_450bps_hac.cfg"
    guppy = "/.mounts/labs/ont/software/guppy-5.0.11/bin/guppy_basecaller"
	reference = "/.mounts/labs/simpsonlab/data/references/GRCh38_no_alt_analysis_set.GCA_000001405.15.fna"
	nanopolish = "/.mounts/labs/simpsonlab/users/jbroadbent/software/nanopolish/nanopolish"
	mbtools = "/.mounts/labs/simpsonlab/users/jbroadbent/software/mbtools/target/release/mbtools"
}
